<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/styles.css">
      <!-- =====BOX ICONS===== -->
      <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
      <title>Amisha Lawaniya</title>
   </head>
   <body>
      <!--===== HEADER =====-->
      <header class="l-header">
         <nav class="nav bd-grid">
            <div>
               <a href="/" class="nav__logo">Amisha</a>
            </div>
            <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                  <li class="nav__item"><a href="/" class="nav__link active">Home🏡</a></li>
                  <li class="nav__item"><a href="/#about" class="nav__link">About😊</a></li>
                  <li class="nav__item"><a href="/#skills" class="nav__link">Skills💻</a></li>
                  <li class="nav__item"><a href="/#work" class="nav__link">Pics👧</a></li>
                  <li class="nav__item"><a href="/#contact" class="nav__link">Contact📞</a></li>
                  <li class="nav__item"><a target="_blank" href="/blogs" class="nav__link">Food Blogs🍔</a></li>
                  <li class="nav__item"><a  target="_blank" href="https://www.youtube.com/channel/UC2274H4mJbWR28JSskNGd3Q" class="nav__link">My Youtube!📽</a></li>
               </ul>
            </div>
            <div class="nav__toggle" id="nav-toggle">
               <i class='bx bx-menu'></i>
            </div>
         </nav>
      </header>
      <main class="l-main">
         <!--===== HOME =====-->
         <section class="home bd-grid" id="home">
            <div class="home__data">
               <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">Amisha</span><br>B.Tech CSE</h1>
               <a href="/AmishaCV.docx" download="AmishasCV" class="button">Download Resume</a>
            </div>
            <div class="home__social">
               <a target="_blank" href="https://www.linkedin.com/in/amisha-lawaniya-5b9791191/" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
               <a target="_blank" href="https://www.facebook.com/amisha.lawaniya" class="home__social-icon"><i class='bx bxl-facebook-circle'></i></a>
               <a  target="_blank" href="https://www.instagram.com/amisha_lawaniya/?hl=en" class="home__social-icon"><i class='bx bxl-instagram-alt' ></i></a>
               <a  target="_blank" href="https://www.youtube.com/channel/UC2274H4mJbWR28JSskNGd3Q" class="home__social-icon"><i class='bx bxl-youtube' ></i></a>
            </div>
            <div class="home__img">    
               <img src="/img/Amisha1.png" alt="">
            </div>
         </section>
         <!--===== ABOUT =====-->
         <section class="about section " id="about">
            <h2 class="section-title">About</h2>
            <div class="about__container bd-grid">
               <div class="about__img">
                  <img src="/img/about.png" alt="">
               </div>
               <div>
                  <h2 class="about__subtitle">I'am Amisha</h2>
                  <p class="about__text">A Btech Computer Science Graduate From Rajasthan Technical University,Kota and a Youtube Content Creator . I love food and love to write blogs even more!!. </p>
				   
				    <p class="about__text">I have also started to upload some of my songs on Youtube</p>							    <p class="about__text">Do check my FoodBlogs and Youtube page and show some Love 🤎</p>

				   
               </div>
            </div>
         </section>
         <!--===== SKILLS =====-->
         <section class="skills section" id="skills">
            <h2 class="section-title">Skills</h2>
            <div class="skills__container bd-grid">
               <div>
                  <h2 class="skills__subtitle">Profesional Skills</h2>
                  <p class="skills__text">I am an amateur in Web Development. I love to design UI/UX for various Web based Applications. I also am a competitve coder. In my free Time I love to Sing, Dance. Recently I have started to find Cooking too fascinating and am exploring the same. </p>
                  <div class="skills__data">
                     <div class="skills__names">
                        <i class='bx bx-code skills__icon'></i>
                        <span class="skills__name">Web Development</span>
                     </div>
                     <div class="skills__bar skills__html">
                     </div>
                     <div>
                        <span class="skills__percentage">95%</span>
                     </div>
                  </div>
                  <div class="skills__data">
                     <div class="skills__names">
                        <i class='bx bx-pencil skills__icon'></i>
                        <span class="skills__name">Content Writing</span>
                     </div>
                     <div class="skills__bar skills__css">
                     </div>
                     <div>
                        <span class="skills__percentage">85%</span>
                     </div>
                  </div>
                  <div class="skills__data">
                     <div class="skills__names">
                        <i class='bx bxs-calculator skills__icon' ></i>
                        <span class="skills__name">Problem Solving</span>
                     </div>
                     <div class="skills__bar skills__js">
                     </div>
                     <div>
                        <span class="skills__percentage">65%</span>
                     </div>
                  </div>
                  <div class="skills__data">
                     <div class="skills__names">
                        <i class='bx bxs-microphone skills__icon'></i>
                        <span class="skills__name">Speaking Skills</span>
                     </div>
                     <div class="skills__bar skills__ux">
                     </div>
                     <div>
                        <span class="skills__percentage">85%</span>
                     </div>
                  </div>
               </div>
               <div>              
                  <img src="/img/work5.jpg" alt="" class="skills__img">
               </div>
            </div>
         </section>
         <!--===== WORK =====-->
         <section class="work section" id="work">
            <h2 class="section-title">😊 Portfolio Pics 😊</h2>
            <div class="work__container bd-grid">
               <div class="work__img">
                  <img src="/img/work1.jpg" alt="">
               </div>
               <div class="work__img">
                  <img src="/img/work2.jpg" alt="">
               </div>
               <div class="work__img">
                  <img src="/img/work3.jpg" alt="">
               </div>
               <div class="work__img">
                  <img src="/img/work4.jpg" alt="">
               </div>
               <div class="work__img">
                  <img src="/img/work5.jpg" alt="">
               </div>
               <div class="work__img">
                  <img src="/img/work6.jpg" alt="">
               </div>
            </div>
         </section>
         <!--===== CONTACT =====-->
         <section class="contact section" id="contact">
            <h2 class="section-title">Contact</h2>
            <div class="contact__container bd-grid">
               <form action="" class="contact__form">
                  <input type="text" placeholder="Name" class="contact__input">
                  <input type="mail" placeholder="Email" class="contact__input">
                  <textarea name="" id="" cols="0" rows="10" class="contact__input">Feel Free to write to us!</textarea>
                  <input type="button" value="Send!" class="contact__button button">
               </form>
            </div>
         </section>
      </main>
      <!--===== FOOTER =====-->
      <footer class="footer">
         <p class="footer__title">Amisha Lawaniya</p>
         <p>&#169; 2020 copyright all right reserved</p>
         <p>By Ravi Sachdeva as Bithday Present!</p>
      </footer>
      <!--===== SCROLL REVEAL =====-->
      <script src="https://unpkg.com/scrollreveal"></script>
      <!--===== MAIN JS =====-->
      <script src="/js/main.js"></script>
   </body>
</html>