<%-include("./partials/header")%>


<div class="ui container">
	
	<h1>
		Signup
	</h1>
  <form class="ui form" method="POST" action="/register">
  <div class="field">
    <label>Username</label>
    <input type="text" name="username" placeholder="username" required>
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" placeholder="password" required>
  </div>
  <button class="ui button" type="submit">Submit</button>
 </form>
</div>



<%-include("./partials/footer")%>